h1, h2, h3, h4, h5 {
    font-family: 'Parisienne', cursive;
}

#div-principal {
    display: flex;
    position: relative;
    width: auto;
    height: auto;
    background-color: rgb(129, 7, 243);
    background-image: url('../image/1942569.svg');
    background-size: 20vw;
    background-repeat: round;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#div-principal #box {
    position: absolute;
    width: 60vw;
    height: 120vh;
    margin: 0;
    background-color: rgb(146, 31, 131);
    transition: 0.5s;
    transition-delay: 0.3s;
    text-align: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-image: url('../image/Balões-Conjunto-de-Balões-Coloridos-17-PNG.png');
    background-size: 10.5vh;
    background-repeat: repeat-y;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
}

#div-principal #box p {
    font-family: 'Parisienne', cursive;
    font-size: 5vw;
    color: white;
    margin: 0;
    margin-top: 1vw;
}

#div-principal #box h1 {
    font-family: 'Parisienne', cursive;
    font-size: 3vw;
    color: white;
    margin: 0;
    margin-top: 1vw;
}

#div-principal #box:hover {
    transform: translateY(-109vh);
}

#div-principal #box #fora {
    display: line;
    position: relative;
    width: auto;
    height: auto;
    padding: 0;
}

#div-principal #box #fora #bolo {
    width: 30vw;
    height: 60vh;
}

#div-principal #box-interna {
    display: flex;
    position: relative;
    border-radius: 0px 0px 5px 5px;
    width: 60vw;
    margin-bottom: 50vh;
    margin-top: 50vh;
    background-color: rgba(0, 0, 0, 0.767);
    text-align: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#div-principal #box-interna #dentro {
    display: inline;
    position: relative;
}

#div-principal #box-interna #dentro p {
    margin-left: 5vw;
    margin-right: 5vw;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5vw;
}

#div-principal #box-interna #img {
    width: 100vw;
    height: 100vh;
}

#div-principal #box-interna #img .l1 {
    display: flex;
    position: relative;
    margin-bottom: 1vh;
}

#div-principal #box-interna #img .foto01 {
    width: 10vw;
    height: 30vh;
    margin-right: 1vh;
}

#div-principal #box-interna #img .foto02 {
    width: 12vw;
    height: 30vh;
}